/*
	Some basic styles for Scrollmeister components. They will be bundled with the JavaScript.
*/

html {
	overflow-x: hidden;
}

body {
	margin: 0;
}

/*
	TODO: need another wrapper which is just positioned static and makes room. width can be styled from user-land. This wrapper creates the right context for us within the host page
	This also enables sections with different backgrounds and stuff like nav/header/footer
*/

scroll-meister {
	display: block;
	position: static;
	width: 100%;
	overflow: hidden;
	will-change: opacity;
}

el-meister {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	opacity: 1;
	backface-visibility: hidden;
	will-change: transform;
}
