//Some basic styles for Scrollmeister components. They will be bundled with the JavaScript.

html
	overflow-x: hidden
	overflow-y: scroll

body
	margin: 0

scroll-meister
	display: block
	position: static
	width: 100%
	overflow: hidden

element-meister
	display: block
	position: fixed
	left: 0
	top: 0
	opacity: 1

content-meister
	display: block
	overflow: hidden
	box-sizing: border-box

shadow-meister
	position: static !important
	display: block
	display: contents